services:
  redis:
    image: redis:7-alpine

  worker:
    build:
      context: .
      target: worker
    depends_on:
      - redis
    environment:
      CAMERAFTP_CONFIG_PATH: configs/config.jsonc
    volumes:
      - ./images:/app/images
      - ./configs:/app/configs:ro

  ftp:
    build:
      context: .
      target: serve
    depends_on:
      - redis
    environment:
      CAMERAFTP_CONFIG_PATH: configs/config.jsonc
    ports:
      - "21:21"
      - "30000-30010:30000-30010"
    volumes:
      - ./images:/app/images
      - ./configs:/app/configs:ro
